<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @payment.comment %>
</p>

<p>
  <b>Pay:</b>
  <%= @payment.pay %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
